<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre Imagen</label>
    <input
      type="text"
      class="form-control"
      formControlName="nombre"
      [ngClass]="{ 'is-invalid': submitted && f['nombre'].errors }"
      >
      <div *ngIf="submitted" class="invalid-feedback">
        <div>Nombre de imagen es requerido</div>
      </div>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Elige la imagen</label>
    <input
      type="file"
      class="form-control"
      (change)="selectFile($event)"
      [ngClass]="{ 'is-invalid': submitted  && f['image'].errors }"
      >
      <div *ngIf="submitted" class="invalid-feedback">
        <div>Imagen es requerido</div>
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Subir Imagen</button>
</form>
<br>
