
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div *ngFor=" let item of imagenesList; first as isFirst"  [ngClass]="{ 'active': isFirst } " class="carousel-item">
      <h4 class="text-center">{{item.name}}</h4>
      <img [src]="item.base64" class="d-block w-100" [alt]="item.name">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
